:root {
	--title-color: #212121;
	--text-color: #757575;
	--accent-color: #2196f3;
	--dark-background-color: #2f303a;
	--grey-background-color: #f5f4fa;
	--btn-background-color: #188ce8;
	--light-color-for-another: #ffffff;
	--transition-duration: 250ms;
	--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
$PrimaryFont: "Roboto", "sans-serif";
